._*
.*
.\#*
*~
*\#
\#*
\#*\#
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9][0-9][0-9]R
*.[1-9][0-9]R
*.[1-9]R
2014-05*pdf
*.[568vq]
[568vq].out
*.7z
*.a
aclocal.m4
*.acn
*.acr
*.alg
*.au
auto
*/auto/*
auto/
autom4te.cache
/*.aux
*.aux
*.backup
*.bak
baks/
*.batch
/*.bbl
*.bbl
*.bcf
bin
bins
bins/
bins/*
bk
bk/
/*.blg
*.blg
/blib/
blib/
*-blx.aux
*-blx.bib
*.brf
*.bs
build
_build/
/.build/
.build/
build/
Build
!Build/
Build.bat
build_win
.bundle
cabal-dev
*.cfg
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
chef-repo
*.chi
*.chs.h
*.class
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
*.com
compile
.config
config.guess
config.log
config.status
config.sub
configure
*-converted-to.*
coverage
.coverage
cover_db/
*.cpp~
.cproject
*.csv
*.dat
depcomp
_deploy
.deps
develop-eggs
/diagrams/*.png
dist
dist/
*.dll
*.dmg
doc/
doc_data.txt
*.docx
.DS_Store
.DS_Store?
*.dvi
*.ear
*.egg
*.egg-info
eggs
ehthumbs.db
*.eledsec[1-9]
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.eledsec[1-9][0-9]R
*.eledsec[1-9]R
*.end
energy.orc~
energy.sco~
*.eps
ese/ese.bbl
ese/ese.blg
estimate-ngram
evaluate-ngram
*.exe
*.fdb_latexmk
flann.kdev4
/*.fls
*.fls
*.gem
Gemfile.lock
.gist-cache
.git
.git.bk
.gitignore.swp
*.glg
*.glo
*.gls
.*.gnuplot-output
goop
goop-osc.pl~
green-data.pdf
green-emse.aux
green-emse.bbl
green-emse.blg
green-emse.log
green-emse.pdf
green-emse.tex~
green-trace.pdf
/.gvim-init.vim
/.gvimrc
*.gz
*.h~
header.aux
*.hi
hs_err_pid*
Icon?
id_rsa
id_rsa.pub
*.idx
IEEEtran.bst
*.ilg
inc/
*.ind
.installed.cfg
InstalledFiles
install-sh
interpolate-ngram
*.iso
*.ist
*.jar
*.json.installed
*.kate-swp
KinectCVShapeSample
KinectCVShapeScan
.last_cover_stats
lib
lib64
lib/bundler/man
lib-cov
libmitlm.la
libtool
*.lo
*.loa
/*.lof
*.lof
/*.log
*.log
logging.pdf
logging.ps
logs
/*.lol
*.lol
/*.lop
/*.lot
*.lot
ltmain.sh
*.maf
Makefile
/Makefile
.#Makefile
Makefile~
Makefile.in
/Makefile.old
Makefile.old
/MANIFEST.bak
MANIFEST.bak
/META.json
/META.yml
META.yml
missing
*.mkv
*.mo
mongrel2.sqlite
*.mp3
.mr.developer.cfg
*.mtc
*.mtc0
.mtj.tmp/
*.mw
/MYMETA.*
MYMETA.yml
*.nav
*.nlo
node_modules
.noseids
nosetests.xml
npm-debug.log
nytprof.out
*.o
*.[oa]
_obj
*.ogg
olfinput.csv
*openmdao_log.txt
OpenTLDConfig.cmake
*.orig
/*.out
*.out
paper.pdf
../paper.zip
parts
pastedpic_05072010_140526.png
pastedpic_05072010_141434.png
/*.pdf
*.pdf
*.pdfsync
*.pid
pids
pip-log.txt
pkg
/pm_to_blib
pm_to_blib
pov/50povs/*.pov
*.prof
.project
/.project-aliases
*.ps
public
*.pyc
__pycache__
*.py[co]
*.py[cod]
.pydevproject
*.pyg
.pygments-cache
.#rapidfire.sc
*.rar
*.rbc
.RData
rdoc
results
.Rhistory
run/
*.run.xml
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
.sass-cache
sass.old
*.save
sdist
secret.pdf
*.seed
shittybot.yml
slide*png
smeggdrop.conf
*.snm
*.so
source.old
source/_stash
source/stylesheets/screen.css
*.sout
spec/reports
.Spotlight-V100
*.sql
*.sqlite
state*
static/docs/
*.sty
*.sublime*
surveys
*.svg.pdf
.svn
*.swo
.*.swp
*.swp
*.sympy
sympy-plots-for-*.tex/
*.synctex.gz
*.synctex.gz(busy)
talk.pdf
*.tar
*.tdo
_test
*.test
test/*.bz2
test/*.dat
test/flann_multithreaded_test
test/flann_simple_test
test/flann_uint_autotune.py
test/*.h5
test/*.idx
_testmain.go
test/*.pkl
tests/data/workdir
test-synth
test/tmp
test/version_tmp
*.tex~
*.tex#
thesis.20100727.033231.Jul.27.2010-holt.pdf
thesis.pdf
*.thm
Thumbs.db
tmp
tmp/
*.tmproj
/*.toc
*.toc
/*.todo
TODO
todos.pdf
.tox
.Trashes
uc-paper2.pdf
uploads.txt
user_test.pdf
.vagrant
.vagrant/
Vagrantfile
vagrant/jacktrip
vagrant/.vagrant/
var
vendor
venv
videogames.wav
/.vimproject
.virthualenv
*.vrb
*.war
*.wav
wavs-old
weka-report/
weka-report.zip
what
*.wpr
*.wpu
*.xdy
.xpdf-reload
_yardoc
.yardoc
y.DS_Store
*.zip
breaking.tex
